<div class="body-item" id="about">
    <div class="title">
        About Me
    </div>
    <div class="body-main">
        <div class="body-main-header">
            <div id="name-surname">Sylvester Tarnowski</div>
            <div id="name-title">Self-taught Developer</div>
        </div>
        <div class="body-bio">
            <p>
                I am a technology enthusiast who turned to coding as a passion.
                Challenges is something I love - they give you many opportunities to 
                learn and grow as a professional and as a person. Wanna work with me?
                Contact details are at the bottom of the page.
            </p>
        </div>
        <div id="skills-title">
            Technologies / Skills
        </div>
        <div class="skills-table">
            <div class="skills-table-row">
                <span>JavaScript (ES5, ES6)</span>
                <span>React</span>
                <span>Typescript</span>
                <span>Node.js</span>
                <span>jQuery</span>
                <span>Express</span>
            </div>
            <div class="skills-table-row">
                <span>CSS Flexbox & Grid</span>
                <span>Bootstrap</span>
                <span>Semantic UI</span>
                <span>SASS</span>
                <span>HTML5</span>
                <span>Cypress</span>
            </div>
            <div class="skills-table-row">
                <span>Git</span>
                <span>MongoDB</span>
                <span>Lodash</span>
                <span>Agile Development</span>
                <span>PowerShell</span>
                <span>Terminal</span>
            </div>
        </div>
    </div>
</div>