<div class="body-item" id="contact">
    <div class="title">Contact</div>
    <div class="contact-container">
        <div class="contact-item">
            <div><i class="fas fa-at fa-3x"></i></div>
            <div>sylwek.tarnowski@gmail.com</div>
        </div>
        <div class="contact-item">
            <div><a href="https://www.linkedin.com/in/sylvestertarnowski/"><i class="fab fa-linkedin fa-3x"></i></a></div>
            <div><a href="https://www.linkedin.com/in/sylvestertarnowski/">LinkedIn</a></div>
        </div>
        <div class="contact-item">
            <div><a href="https://www.github.com/sylvestertarnowski/"><i class="fab fa-github fa-3x"></i></a></div>
            <div><a href="https://www.github.com/sylvestertarnowski/">Github</a></div>
        </div>
    </div>
</div>