<div class="footer">
    <div class="footer-item">
        <div>Made with <span style="color: Pink"><i class="fas fa-heart"></i></span>, Node.js and Express.</div>
        <div>Github <a href="https://github.com/sylvestertarnowski"><i class="fab fa-github"></i></a></div>
    </div>
</div>