<div class="navbar">
    <div class="item home">
        <a href="#">
            Home
        </a>
    </div>
    <div class="item about">
        <a href="#about">
            About
        </a>
    </div>
    <div class="item projects">
        <a href="#projects">
            Projects
        </a>
    </div>
    <div class="item contact">
        <a href="#contact">
            Contact
        </a>
    </div>
</div>