<div class="body-item" id="projects">
    <div class="title">
        Projects
    </div>
    <div class="projects-container">
        <div class="projects-item">
            <h2>Hotree Custom Form</h2>
            <a href="/hotree"><img src="img/hotree.JPG" /></a>
            <label>
                Hotree submission form - React, Grid, Flexbox. Displays custom tooltips on missing/incorrect fields.
                Validates data before submission. Changes screen to 'Success' when data is validated.
            </label>
        </div>
        <div class="projects-item">
            <h2>O-Key</h2>
            <a href="http://o-key.pl"><img src="img/o-key-pl.JPG" /></a>
            <label>
                O-Key - company website of O-Key, spare key and electronic key workshop.
                Built with Bootstrap, Font Awesome, and a little Javascript.
            </label>
        </div>
        <div class="projects-item">
            <h2>Todo App</h2>
            <a href="/todo-app"><img src="img/todo-app.JPG" /></a>
            <label>
                Your classic To-Do app - built with jQuery and some CSS magic.
            </label>
        </div>
        <div class="projects-item">
            <h2>Color Game</h2>
            <a href="/color-game"><img src="img/color-game.JPG" /></a>
            <label>
                Random RGB color - can you guess which tile corresopnds to the RGB color?
            </label>
        </div>
        <div class="projects-item">
            <h2>Calculator App</h2>
            <a href="/calculator-app"><img src="img/calculator-app.JPG" /></a>
            <label>
                Calculator App made with React, CSS Grid + Flexbox. Both mouse clicks and keyboard strokes will work!
            </label>
        </div>
    </div>
</div>