<div class="body-item" id="projects">
    <div class="title">
        Projects
    </div>
    <div class="projects-container">
        <div class="projects-item">
            <h2>Words Learning App</h2>
            <a href="/words-learning-app"><img src="img/words-learning-app.jpg" /></a>
            <label>
                Words Learning App - allows you to create list of words, and then guess them one after another. 
                If word is guessed incorrectly, it goes back to the pool of words. Correct translation is displayed.
            </label>
        </div>
        <div class="projects-item">
            <h2>O-Key</h2>
            <a href="http://o-key.pl"><img src="img/o-key-pl.jpg" /></a>
            <label>
                O-Key - company website of O-Key, spare key and electronic key workshop.
                Built with Bootstrap, Font Awesome, and a little Javascript.
            </label>
        </div>
        <div class="projects-item">
            <h2>Todo App</h2>
            <a href="/todo-app"><img src="img/todo-app.jpg" /></a>
            <label>
                Your classic To-Do app - built with jQuery and some CSS magic.
            </label>
        </div>
        <div class="projects-item">
            <h2>Color Game</h2>
            <a href="/color-game"><img src="img/color-game.jpg" /></a>
            <label>
                Random RGB color - can you guess which tile corresopnds to the RGB color?
            </label>
        </div>
        <div class="projects-item">
            <h2>Calculator App</h2>
            <a href="/calculator-app"><img src="img/calculator-app.jpg" /></a>
            <label>
                Calculator App made with React, CSS Grid + Flexbox. Both mouse clicks and keyboard strokes will work!
            </label>
        </div>
    </div>
</div>