<div class="body-item" id="projects">
    <div class="projects-title">
        Projects
    </div>
    <div class="projects-container">
        <div class="projects-item">
            <img src="img/words-learning-app.jpg" />
            <label>
                Words Learning App - allows you to create list of words, and then guess them one after another. 
                If word is guessed incorrectly, it goes back to the pool of words. Correct translation is displayed.
            </label>
        </div>
        <div class="projects-item">
            <img src="img/words-learning-app.jpg" />
            <label>
                Words Learning App - allows you to create list of words, and then guess them one after another. 
                If word is guessed incorrectly, it goes back to the pool of words. Correct translation is displayed.
            </label>
        </div>
        <div class="projects-item">
            <img src="img/words-learning-app.jpg" />
            <label>
                Words Learning App - allows you to create list of words, and then guess them one after another. 
                If word is guessed incorrectly, it goes back to the pool of words. Correct translation is displayed.
            </label>
        </div>
        <div class="projects-item">
            <img src="img/words-learning-app.jpg" />
            <label>
                Words Learning App - allows you to create list of words, and then guess them one after another. 
                If word is guessed incorrectly, it goes back to the pool of words. Correct translation is displayed.
            </label>
        </div>
        <div class="projects-item">
            <img src="img/words-learning-app.jpg" />
            <label>
                Words Learning App - allows you to create list of words, and then guess them one after another. 
                If word is guessed incorrectly, it goes back to the pool of words. Correct translation is displayed.
            </label>
        </div>
    </div>
</div>