<!DOCTYPE html>
<html>
    <head>
        <title>My website</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <!-- Header -->
        <% include ./partials/header %>

        <!-- Main Body -->
        <h1>Hello World!</h1>

        <!-- Footer -->
        <% include ./partials/footer %>
    </body>
</html>