<!DOCTYPE html>
<html>
    <head>
        <title>My website</title>
        <meta charset="utf-8" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
    </head>
    <body>
        <div class="grid-container">
            <!-- Header -->
            <% include ./partials/navbar %>

            <!-- Main Body -->
            <div class="body">
                <a href="/words-learning-app">Words Learning App!</a>
                <% include ./partials/about%>
                <% include ./partials/projects%>
                <% include ./partials/contact%>
            </div>

            <!-- Footer -->
            <% include ./partials/footer %>
        </div>
    </body>
</html>